.fw-checkbox-float-left div {
    float: left;
    margin-right: 15px;
}
.fw-backend-options-group.border-bottom-none, .border-bottom-none {
    border-bottom: none;
}
#fw-backend-options-group-padding_group .fw-backend-option {
    display: inline-block;
}
#fw-backend-options-group-padding_group .fw-option-width-short {
    width: 40px !important;
}
#fw-backend-options-group-padding_group .fw-backend-option-type-html {
    float: left;
    padding-right: 0;
    width: 14%;
}
#fw-options-tab-styling-options #fw-backend-options-group-padding_group .fw-backend-option-type-html {
    width: 15%;
}
#fw-backend-options-group-padding_group .fw-backend-option-desc {
    margin-left: 0;
}
#fw-backend-options-group-padding_group .fw-backend-option.fw-backend-option-type-short-text {
	padding-left: 13px;
	padding-right: 0;
	padding-bottom: 15px;
	width: 68px !important;
}
#fw-edit-options-modal-tablet_display-yes-background_options-image-overlay_options-yes-overlay_opacity_image,
#fw-edit-options-modal-smartphone_display-yes-background_options-image-overlay_options-yes-overlay_opacity_image,
#fw-edit-options-modal-opacity,
#fw-option-general_products_header-posts_header_overlay_options-yes-posts_header_overlay_opacity_image,
#fw-option-category_header_overlay_options-yes-category_header_overlay_opacity_image,
#fw-edit-options-modal-opacity_bg_color,
#fw-edit-options-modal-overlay_opacity,
#fw-edit-options-modal-bg_opacity,
#fw-edit-options-modal-image-type-picker-fw-imagebox-2-opacity,
#fw-edit-options-modal-map_zoom,
#fw-option-general_learning_header-posts_header_overlay_options-yes-posts_header_overlay_opacity_image,
#fw-option-slider-fade-slider-custom-settings-overlay_options-yes-overlay_opacity,
#fw-option-slider-image-video-slider-custom-settings-overlay_options-yes-overlay_opacity,
#fw-option-general_page_header-posts_header_overlay_options-yes-posts_header_overlay_opacity_image,
#fw-edit-options-modal-call_to_action_boxed-fw-call-to-action-boxed-bg_opacity,
#fw-edit-options-modal-image-type-picker-fw-imagebox-1-image-box-bg-bg-on-bg-opacity,
#fw-edit-options-modal-background_options-video-overlay_options-yes-overlay_opacity_video,
#fw-option-footer_settings-footer_bg-image-overlay_options-yes-overlay_opacity_image,
#fw-option-footer_settings-show_menu_bar-yes-menu_bar_bg-image-overlay_options-yes-overlay_opacity_image,
#fw-option-footer_settings-show_footer_widgets-yes-footer_widgets_bg-image-overlay_options-yes-overlay_opacity_image,
#fw-option-header_settings-enable_absolute_header-fw-absolute-header-absolute_opacity,
#fw-edit-options-modal-background_options-image-overlay_options-yes-overlay_opacity_image,
#fw-option-general_posts_header-posts_header_overlay_options-yes-posts_header_overlay_opacity_image,
#fw-option-general_portfolio_header-posts_header_overlay_options-yes-posts_header_overlay_opacity_image,
#fw-option-general_events_header-posts_header_overlay_options-yes-posts_header_overlay_opacity_image {
    width: 280px;
}
#fw-edit-options-modal-tablet_display-yes-background_options-image-parallax-yes-parallax_speed,
#fw-edit-options-modal-smartphone_display-yes-background_options-image-parallax-yes-parallax_speed,
#fw-edit-options-modal-background_options-image-parallax-yes-parallax_speed {
    width: 240px;
}
@media (max-width: 768px) {
    /* responsive for column options */
    #fw-backend-options-group-padding_group .fw-backend-option-type-html {
        float: left;
        padding-right: 0;
        width: 100%;
    }
    #fw-backend-options-group-padding_group .fw-backend-option.fw-backend-option-type-short-text {
        padding-left: 26px;
    }
}
#fw-backend-option-fw-option-color_settings-color_1,
#fw-backend-option-fw-option-color_settings-color_2,
#fw-backend-option-fw-option-color_settings-color_3,
#fw-backend-option-fw-option-color_settings-color_4,
#fw-backend-option-fw-option-website_backgroud-website_bg_color {
    padding-bottom: 0;
}
.fw-advanced-button .button:before,
.button.fw-advanced-button:before{
    content: "\f111";
    font-family: dashicons;
    padding-right: 3px;
}
.button.fw-advanced-button{
    margin-left: 30px;
}
#fw-backend-option-fw-option-footer_settings-html_label,
#fw-backend-option-fw-option-footer_settings-copyright_top,
#fw-backend-option-fw-option-footer_settings-copyright_bottom {
    float: left;
}
#fw-backend-option-fw-option-footer_settings-copyright_top{
    padding-right: 0;
}
@media (max-width: 1800px) {
    #fw-backend-option-fw-option-footer_settings-copyright_top {
        padding-left: 20px;
    }
}
@media (max-width: 1380px) {
    #fw-backend-option-fw-option-footer_settings-copyright_top {
        padding-left: 10px;
    }
}
@media (max-width: 1199px) {
    #fw-backend-option-fw-option-footer_settings-copyright_top {
        padding-left: 60px;
    }
}
@media (max-width: 991px) {
    #fw-backend-option-fw-option-footer_settings-copyright_top {
        padding-left: 50px;
    }
}
@media (max-width: 768px) {
    #fw-backend-option-fw-option-footer_settings-html_label {
        float: none;
    }
    #fw-backend-option-fw-option-footer_settings-copyright_top {
        padding-left: 25px;
        padding-top: 10px;
    }
    #fw-backend-option-fw-option-footer_settings-copyright_bottom {
        padding-top: 10px;
    }
}
#fw-backend-option-fw-option-footer_settings-html_label{
    padding-right: 0;
    width: 14.5%;
}
#fw-backend-option-fw-option-footer_settings-footer_bg_color{
    clear: both;
}
#fw-backend-option-fw-option-quick_css > .fw-backend-option-input.width-type-fixed > .fw-inner{
    max-width: 550px;
}
#fw-backend-option-fw-option-quick_css textarea#fw-option-quick_css{
    height: 600px;
}
.fw-form-button-dashboard .fw-advanced-button{
    margin-left: 0;
}
#fw-backend-options-group-calendar_group.fw-backend-options-group > #fw-backend-option-fw-edit-options-modal-advanced_styling,
#fw-backend-options-group-calendar_group.fw-backend-options-group > #fw-backend-option-fw-edit-options-modal-advanced_week_styling,
#fw-backend-options-group-calendar_group.fw-backend-options-group > #fw-backend-option-fw-edit-options-modal-advanced_day_styling {
    padding: 21px 27px 21px;
}
.fw-option-type-multi-picker > .picker-group > #fw-backend-option-fw-option-category_header_title-category_title,
#fw-backend-option-fw-option-category_header_title-custom_title-custom_title_text,
.fw-option-type-multi-picker > .picker-group > #fw-backend-option-fw-option-category_header_overlay_options-category_header_overlay,
#fw-backend-option-fw-option-category_header_overlay_options-yes-category_header_overlay_color,
#fw-backend-option-fw-option-category_header_overlay_options-yes-category_header_overlay_opacity_image
{
    padding-left: 0;
}
.fw-theme-option-presentation-color{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-bottom: -2px;
    margin-left: 3px;
}
#fw-backend-option-fw-edit-options-modal-background_options-video-poster.fw-backend-option-design-default.with-help > .fw-backend-option-input > .fw-inner,
.fw-video-background-image .fw-backend-option-design-default > .fw-backend-option-input.width-type-fixed.fw-backend-option-input-type-background-image > .fw-inner{
    width: 92px;
}
/* for choose skin page */
.fw-choose-skin.theme-browser .theme .theme-actions{
    opacity: 1;
}
.fw-choose-skin.theme-browser .theme .theme-name{
    font-size: 16px;
    padding: 15px 15px 20px 15px;
}
.fw-choose-skin .theme-name label{
    font-size: 14px;
    font-weight: 400;
}
.fw-choose-skin .include-demo-content-container{
    margin-top: 3px;
}
.fw-choose-skin .include-demo-content-container input[type="checkbox"]{
    margin-top: 2px;
}
.fw-choose-skin.theme-browser .theme .theme-actions .button-primary{
    margin-top: 10px;
}
.fw-choose-skin .themes .theme .theme-name{
    height: 35px;
}
.fw-choose-skin.theme-browser .theme .theme-actions{
    height: 60px;
}
.fw-choose-skin .more-details a{
    color: #fff;
    text-decoration: none;
}
.fw-yes-icon{
    color: #6ABF2B;
    font-size: 22px;
    margin-right: 8px;
}
.fw-no-icon{
    color: #d54e21;
    font-size: 18px;
    margin-right: 8px;
}
#fw-options-box-wordpress-environment-box .fw-backend-option-type-html .fw-backend-option-desc .fw-inner,
#fw-options-box-server-environment-box .fw-backend-option-type-html .fw-backend-option-desc .fw-inner{
    margin-left: 25px;
}
.fw-success-message{
    color: #6ABF2B;
}
.fw-error-message{
    color: #d54e21;
}
.fw-info-symbol{
    font-size: 19px;
    margin-right: 8px;
    color: #0073aa;
}
#fw-backend-option-fw-option-general_homepage_header-default_home_page_info .fw-backend-option-desc,
#fw-backend-option-fw-option-general_page_header-default_pages_info .fw-backend-option-desc,
#fw-backend-option-fw-option-portfolio_categories_info .fw-backend-option-desc{
    color: #0073aa;
}
.media-frame a.fw-docs-link,
.fw-ext-sidebars-wrap a.fw-docs-link{
    float: right;
    margin-right: 40px;
    font-size: 13px;
    color: #0073aa;
    text-decoration: none;
    font-weight: 400;
}
.media-frame a.fw-docs-link:hover,
.fw-ext-sidebars-wrap a.fw-docs-link:hover {
    color: #00a0d2;
}
.media-frame-title a.fw-docs-link .fw-docs-info,
.fw-ext-sidebars-wrap a.fw-docs-link .fw-docs-info{
    display: inline-block;
    margin-top: 15px;
    font-size: 20px;
    margin-right: 4px;
}
.media-frame-title a.fw-docs-link:focus,
.fw-ext-sidebars-wrap a.fw-docs-link:focus{
    border: none;
    outline: none;
    box-shadow: none;
}
.fw-theme-docs-link{
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
}
a.fw-theme-docs-link:hover,
a.fw-theme-docs-link:active,
a.fw-theme-docs-link:focus{
    color: #fff;
    text-decoration: underline;
}
.fw-ext-sidebars-wrap a.fw-docs-link .fw-docs-info{
    margin-top: -1px;
}
.fw-ext-sidebars-wrap a.fw-docs-link{
    margin-right: 5px;
    margin-top: 3px;
}
.fw-sidebar-docs{
    float: right;
}
@media (min-width: 1200px) {
    .media-frame-content .fw-backend-option > .fw-backend-option-label.fw-col-lg-2 {
        width: 16.66666667%;
    }
    .media-frame-content .fw-backend-option > .fw-backend-option-input.fw-col-lg-10 {
        width: 83.33333333%;
    }
    .media-frame-content .fw-backend-option > .fw-backend-option-desc.fw-col-lg-offset-2 {
        margin-left: 16.66666667%;
        width: 83.33333333%;
    }
}
/* responsive for styling button */
@media screen and (max-width:680px) {
    .button.fw-advanced-button {
        float: left;
        margin-left: 0;
        margin-top: 10px;
        clear: both;
    }
}
@media screen and (min-width:769px) and (max-width:1200px) {
    .fw-backend-option-design-default > .fw-backend-option-input.width-type-fixed > .fw-inner, .fw-backend-option-design-customizer > .fw-backend-option-input.width-type-fixed > .fw-inner, .fw-backend-option-fixed-width {
        max-width: 392px;
    }
    .fw-backend-side-tabs .button.fw-advanced-button {
        float: left;
        margin-left: 0;
        margin-top: 10px;
        clear: both;
    }
}
.fw-backend-side-tabs .fw-backend-option-input-type-switch .button.fw-advanced-button {
    margin-left: 30px;
    clear: none;
    margin-top: 0;
}
/* for modal levels */
.fw-modal-level-5 .button.fw-advanced-button,
.fw-modal-level-4 .button.fw-advanced-button,
.fw-modal-level-3 .button.fw-advanced-button {
    margin-left: 0px;
    margin-top: 10px;
}
.fw-padding-bottom {
    padding-bottom: 21px !important;
}
#fw-edit-options-modal-icon-type-picker-fw-iconbox-4 #fw-backend-options-group-padding_group {
    border-bottom: none;
}
#fw-edit-options-modal-icon-type-picker-fw-iconbox-4 #fw-backend-options-group-padding_group .fw-backend-option.fw-backend-option-type-short-text {
    padding-bottom: 0;
}

/* Style qtip section template */
/*----> Responsive <---- */
/* Screen 768px */
@media(max-width:991px){
    .qtip.tf-theme-pred-tpl-qtip {
        max-width: 70%;
    }
    .tf-theme-pred-tpl-qtip .qtip-content .tf-theme-pred-tpl-thumb {
        width: 32.33%;
        float: left;
    }
}
/* Screen 667px */
@media(max-width:767px){
    .tf-theme-pred-tpl-qtip .qtip-content .tf-theme-pred-tpl-thumb {
        width: 50%;
    }
}
/* Screen 320px */
@media(max-width:479px){
    .fw-option-type-builder > .builder-items-types > .fw-builder-header-tools .template-container {
        float: none !important;
        margin-top: 40px;
        text-align: center;
    }
    .fw-option-type-builder > .builder-items-types > .fw-builder-header-tools .tf-theme-pred-tpl-add-btn-wrap {
        float: none !important;
        margin-top: 14px;
        text-align: center;
        margin-right: 0;
    }
}

/* RTL Style */
body.rtl .media-frame a.fw-docs-link,
body.rtl .fw-ext-sidebars-wrap a.fw-docs-link {
    float: left;
    margin-right: auto;
    margin-left: 40px;
}
body.rtl .media-frame-title a.fw-docs-link .fw-docs-info,
body.rtl .fw-ext-sidebars-wrap a.fw-docs-link .fw-docs-info {
    float: left;
}
body.rtl img[data-btn-alignment="side-by-side"],
body.rtl div[data-fw-option-id="icon-box-type"] .thumbnails img[data-icon-box-type="type-2"],
body.rtl .qtip img[data-icon-box-type="type-2"],
body.rtl div[data-fw-option-id="icon-box-type"] .thumbnails img[data-icon-box-type="type-3"],
body.rtl .qtip img[data-icon-box-type="type-3"],
body.rtl #fw-edit-options-modal-image-type-picker-icon-box-type .thumbnails img[data-image-box-type="type-1"],
body.rtl #fw-edit-options-modal-image-type-picker-icon-box-type .thumbnails img[data-image-box-type="type-2"],
body.rtl .qtip img[data-image-box-type="type-1"],
body.rtl .qtip img[data-image-box-type="type-2"],
body.rtl div[data-fw-option-id="blog_type"] .thumbnails li img[data-latest-posts-type="type-1"],
body.rtl div[data-fw-option-id="blog_type"] .thumbnails li img[data-latest-posts-type="type-2"],
body.rtl div[data-fw-option-id="blog_type"] .thumbnails li img[data-latest-posts-type="type-3"],
body.rtl .qtip img[data-latest-posts-type="type-1"],
body.rtl .qtip img[data-latest-posts-type="type-2"],
body.rtl .qtip img[data-latest-posts-type="type-3"],
body.rtl div[data-fw-option-id="tabs_type"] .thumbnails li img[data-tabs-type="type-1"],
body.rtl div[data-fw-option-id="tabs_type"] .thumbnails li img[data-tabs-type="type-2"],
body.rtl div[data-fw-option-id="tabs_type"] .thumbnails li img[data-tabs-type="type-3"],
body.rtl div[data-fw-option-id="tabs_type"] .thumbnails li img[data-tabs-type="type-4"],
body.rtl .qtip img[data-tabs-type="type-1"],
body.rtl .qtip img[data-tabs-type="type-2"],
body.rtl .qtip img[data-tabs-type="type-3"],
body.rtl .qtip img[data-tabs-type="type-4"],
body.rtl .fw-testimonials-type .thumbnails img[data-testimonials-type="type-2"],
body.rtl .qtip img[data-testimonials-type="type-2"],
body.rtl div[data-fw-option-id="comments_type"].fw-backend-option-descriptor .thumbnails img,
body.rtl #fw-option-slider-selected .thumbnails img[data-slider-type="easy-slider"],
body.rtl #fw-option-slider-selected .thumbnails img[data-slider-type="reload-slider"],
body.rtl .wp-list-table .type-fw-slider img[data-slider-type="easy-slider"],
body.rtl .wp-list-table .type-fw-slider img[data-slider-type="reload-slider"],
body.rtl .qtip img[data-slider-type="easy-slider"],
body.rtl .qtip img[data-slider-type="reload-slider"],
body.rtl div[data-fw-option-id="blog_type"] .thumbnails li img[data-tabs-type="type-1"],
body.rtl div[data-fw-option-id="blog_type"] .thumbnails li img[data-tabs-type="type-2"],
body.rtl div[data-fw-option-id="blog_type"] .thumbnails li img[data-tabs-type="type-3"],
body.rtl .qtip img[data-ts-post="type-1"],
body.rtl .qtip img[data-ts-post="type-2"],
body.rtl .qtip img[data-ts-post="type-3"] {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
body.rtl .fw-option-type-image-picker ul.thumbnails.image_picker_selector li {
    float: right;
}

/* Unyson */
body.rtl .fw-option-type-builder > .builder-items-types > .fw-builder-header-tools .pull-right,
body.rtl .fw-option-type-builder > .builder-items-types > .fw-builder-header-tools .fw-pull-right {
    float: left !important;
}
body.rtl .tf-theme-pred-tpl-add-btn-wrap {
    margin-right: 0;
    margin-left: 23px;
}
body.rtl .fw-backend-side-tabs .fw-options-tabs-first-level {
    background-color: #e5e5e5;
}
body.rtl .fw-option-html .builder-item-type .fw-page-builder-thumb-width--3_4 > img,
body.rtl .fw-option-html .builder-item-type .fw-page-builder-thumb-width--2_3 > img {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
body.rtl .pb-item-type-column.pb-item .column-title {
    margin-left: 0;
    margin-right: 6px;
}
body.rtl .fw-backend-side-tabs .fw-settings-form-header h2 {
    display: inline-block;
}
body.rtl .fw-backend-side-tabs .fw-settings-form-header h2 a {
    float: left;
    margin-right: 10px;
}
body.rtl.tools_page_fw-backups .wrap>h2:first-child {
    display: inline-block;
}
body.rtl.tools_page_fw-backups .wrap>h2:first-child #fw-ext-backups-status {
    float: left;
    margin-right: 10px;
}
body.rtl.tools_page_fw-backups .wrap>h2:first-child #fw-ext-backups-status img {
    margin-left: 5px;
}

