/* Style sheet for website custom styles
 * Developed by - Isuru ANZPharma
 * Authorized by - THE PRISU PRIDE LIMITED (Pavithra Isuru Liyanage)
 * Created on - 2018-03-21 21:29:26.
 ----------------------------------------------------------------------------------------------------*/

.website-section-list {
    margin-left: -40px;
    max-height: 400px;
    overflow-y: auto;
}
.website-section-list li {
    padding: 8px 15px;
    list-style: none;
    border-bottom: 1px solid #e2dfdf;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.website-section-list li:hover {
    background-color: #f5f9ff;
    font-weight: 600;
}
.website-section-list .selected {
    background-color: #eaf2ff !important;
    font-weight: 600;
    cursor: auto;
}
.website-section-list i {
    margin-top: 4px;
}

.gray-theme.fr-box.fr-basic .fr-element {
    min-height: 150px !important;
}

.slider-second-section {
    margin-top: 50px;
    padding: 10px 30px;
}
.slider-second-section h5 {
    text-align: center;
    font-size: 16px;
    color: #5576c7;
}
.slider-second-section .form-group {
    position: relative;
    margin-bottom: 35px;
}
.slider-second-section .form-group .fa-minus-circle {
    color: #d5000e;
    position: absolute;
    right: 4px;
    font-size: 20px;
}
.add-section-button-container p{
    margin-top: 50px;
    padding: 10px 20px;
    border: 1px solid #f5f5f5;
}