/* Style sheet for signboard custom styles 
 * Developed by - Pavithra Isuru
 * Authorized by - IDL Creaitons (Pavithra Isuru Liyanage)
 * Created on - 2018-01-10 20:58:53. 
 ----------------------------------------------------------------------------------------------------*/

.sign-date-container {
    padding: 20px 30px;
}
.accordion .dates {
    background: #e4f5e9;
    transition: all .3s ease-in-out;
}
.accordion .dates:hover {
    background: #cbefd5;
}

.sign-date-container .panel-title span {
    color: #969595;
    font-size: 12px;
    margin-left: 3%;
}
.sign-date-container .panel-title rate {
    color: #2bb538;
    font-weight: 400;
}
.sign-date-container .panel-title count {
    margin-left: 10%;
    color: #7d91ff;
    font-size: 14px;
    font-style: italic;
}
.booking-divider {
    margin-top: 30px;
    border-top: 1px solid #e2dfdf;
    margin-bottom: 15px;
}
.sign-date-container .block {
    padding: 10px;
    border-radius: 20px;
    transition: all .3s ease-in-out;
}
.sign-date-container .block:hover {
    box-shadow: 1px 1px 12px 1px #ebebeb;
}
.sign-date-container .footer {
    margin-top: 20px;
    float: right;
}