<div class="panel" data-menuitemid="{{ $productCategory->id }}">
    <a class="panel-heading collapsed" role="tab" id="category-{{ $productCategory->id }}" data-toggle="collapse" data-parent="#accordion-menu-category-{{ $menuItem->id }}" href="#collapse-{{ $productCategory->id }}" aria-expanded="true" aria-controls="collapse-{{ $productCategory->id }}">
        <h4 id="panel-title-{{ $productCategory->id }}" class="panel-title">{{ $productCategory->name }}</h4>
    </a>
    <div id="collapse-{{ $productCategory->id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{ $productCategory->id }}">
        <div class="panel-body">
            {{--Image Upload--}}
            <label>Category Image</label>
            <div class="upload-img-container" style="position: relative; width: 300px;" onclick="openUploadFileDialog({{ $productCategory->id }});">
                <div class="upload-img-overlay" onmouseenter="animateLivIcon({{ $productCategory->id }});">
                    <h4 style="margin-bottom: 10%; font-size: 13px;">Add/Change Category Image</h4>
                    <div id="upload-img-livicon-{{ $productCategory->id }}" class="livicon-evo" data-options="name: cloud-upload.svg; style: filled; size: 45px; strokeColor: #22A7F0;" style="margin: 0 auto;"></div>
                    <p>Click Here to Upload!<br/><br/><span>notes</span></p>
                </div>
                <img id="slider-slide-img-{{ $productCategory->id }}" src="{{URL::To('/')}}/assets/backend/images/website/slide-block/default.jpg" style="width: 100%; box-shadow: 1px 1px 2px 3px #eceaea;"/>
                <div id = "image-upload-progress-{{ $productCategory->id }}" class = "progress" style = "height: 8px;width: 100%;">
                    <div id = "image-upload-progress-bar-{{ $productCategory->id }}" class = "progress-bar progress-bar-striped active" role = "progressbar" aria-valuenow = "45" aria-valuemin = "0" aria-valuemax = "100" style = "width: 0%;">
                        <span id="image-upload-sr-only-{{ $productCategory->id }}" class = "sr-only">0% Complete</span>
                    </div>
                </div>
            </div>
            <form action="{{URL::Route('website-savefieldimage')}}" method="post" id="upload-image-form-{{ $productCategory->id }}" enctype="multipart/form-data" class="slider-slide-image-upload">
                <input type="file" name="file" id="image-choose-{{ $productCategory->id }}" onchange="submitImageUploadForm('#upload-image-form-{{ $productCategory->id }}', {{ $productCategory->id }});" accept="image/jpg;capture=camera" style="display: none;">
                <input type="hidden" name="categoryid" value="{{ $productCategory->id }}" />
            </form>
            {{--End of image upload--}}
            <div class="form-group" style="margin-top: 40px;">
                <label>Category Name</label>
                <input  id="category-name-{{ $productCategory->id }}" type="text" class="form-control" value="{{ $productCategory->name }}"  onchange="updateCategoryDetails(this, {{ $productCategory->id }}, 'name')" />
            </div>
            <div class="form-group" style="margin-top: 40px;">
                <label>Category Short Description</label>
                <textarea id="category-description-{{ $productCategory->id }}" onchange="updateCategoryDetails(this, {{ $productCategory->id }}, 'description')" class="form-control" data-rich="0">{{ $productCategory->description }}</textarea>
            </div>
            <div class="form-group" style="margin-top: 40px;">
                <label>Category Long Description</label>
                <textarea id="category-long-description-{{ $productCategory->id }}" onchange="updateCategoryDetails(this, {{ $productCategory->id }}, 'long_description')" class="form-control" data-rich="0">{{ $productCategory->long_description }}</textarea>
            </div>
            <h3 style="margin-top: 50px; font-size: 18px;">Sub Categories</h3>
            <div class="col-md-12" style="margin-bottom: 30px;">
                <button class="btn btn-sm btn-info pull-right" onclick="addCategory({{$menuItem->id}}, {{ $productCategory->id }});"><i class="fa fa-plus"></i> Add Sub Category</button>
            </div>
            <div></div>
            <div class="accordion" id="accordion-menu-sub-category-{{ $productCategory->id }}" data-menuid="{{ $productCategory->id }}" data-container="{{ $productCategory->id }}" role="tablist" aria-multiselectable="true" style="margin-bottom: 100px; padding: 5px; margin-top: 50px;">

            </div>
        </div>
    </div>
</div>




<a href="" class="m_2170816661162129789btn m_2170816661162129789btn-primary" style="margin:0;padding:0;text-decoration:none;color:#fff;font-weight:400;margin:0;display:inline-block;vertical-align:middle;zoom:1;font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:14px;font-weight:600;line-height:1.6;text-align:center;background-color:#3498db;border-top:10px solid #3498db;border-bottom:10px solid #3498db;border-right:25px solid #3498db;border-left:25px solid #3498db;border-radius:3px;border-color:#3498db" target="_blank" >Make The Payment Now</a>